body {
	margin-top: 70px;
}

.navbar-default {
	background: #fff;
	border: 0;
	font-family: Poppins;
}

.navbar-brand {
	font-size: 20px;
	color: #000 !important;
	font-weight: bold;
}

.showcase-left {
	text-align: left;
}